<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.apptienda">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MostrarVentas">
        </activity>
        <activity android:name=".RegistroVenta">
        </activity>
        <activity android:name=".EditarCliente">
        </activity>
        <activity android:name=".EditarProducto">
        </activity>
        <activity android:name=".MostrarClientes">
        </activity>
        <activity android:name=".MostrarInventario">
        </activity>
        <activity android:name=".AcercaDe">
        </activity>
        <activity android:name=".Ayuda">
        </activity>
        <activity android:name=".RegistroCliente">
        </activity>
        <activity android:name=".RegistroProducto">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>